{# src/PM/WelcomeBundle/Resources/views/Level/layoutAdmin.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}

{% block title %}
    Niveaux - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_level_administration_homepage') }}">Niveaux</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
