{# src/PM/InstalBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %}
    Utilisateur - {{ parent() }}
{% endblock %} 
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_administration_homepage') }}">Administration</a></li>
    <li><a href="{{ path('pm_user_administration_homepage') }}">Utilisateurs</a></li>
{% endblock %}

{% block body %}
    {% block follow %}
        <meta name="robots" content="noindex,nofollow" />
    {% endblock %}
        
    {% block PMUser_body %}{% block fos_user_content %}{% endblock %}{% endblock %}
{% endblock %}
