{# src/PM/WelcomeBundle/Resources/views/Skill/layoutAdmin.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}

{% block title %}
    Compétences - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_skill_administration_homepage') }}">Compétences</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
