{# src/PM/InstalBundle/Resources/views/Profile/show_content.html.twig #}

<div class="row">
    <fieldset class="col-md-6">
        <legend>Utilisateur :</legend>

        <dl class="dl-horizontal">
            <dt>Nom :</dt>
            <dd>{{ user.Firstname ~ ' ' ~ user.Name }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Adresse mail :</dt>
            <dd>{{ user.email }}</dd>
        </dl>
    </fieldset>
</div>