{# src/PM/WeaponBundle/Resources/views/Weapon/layoutAdmin.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}

{% block title %}
    Armes - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_weapon_administration_homepage') }}">Armes</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
