{# src/PM/CharacterBundle/Resources/views/CharacterUsed/view_skill.html.twig #}
<table class="table table-bordered">
    <caption>Compétences :</caption>
    <tr>
        <th>Compétence</th>
        <th>Degré de Maitrise</th>
    </tr>
    {% for skill in characterUsed.skills %}
        <tr><th><a href="{{path('pm_skill_administration_view', {'slug': skill.skill.slug})}}">{{skill.skill.name}}</a></th><td>{{skill.ranks}}</td></tr>
    {% endfor %}
</table>