{# src/PM/MonsterBundle/Resources/views/SpeedSpecial/layoutAdmin.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}

{% block title %}
    Mode de Déplacement - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_speedspecial_administration_homepage') }}">Modes de Déplacement</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
