{# src/PM/GameBundle/Resources/views/Game/layoutAdmin.html.twig #}
 
{% extends "PMWelcomeBundle::layoutAdmin.html.twig" %}

{% block title %}
    Parties - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_game_administration_homepage') }}">Parties</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
