{# src/PM/CharacterBundle/Resources/views/ClassDnD/register_content.html.twig #}

<form class="form-horizontal" method="post" action="{{ path('pm_classdnd_administration_edit_bab', {'slug': classDnD.slug}) }}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
    <div class="alert alert-error">
        <strong>Votre formulaire contient les erreurs suivantes :</strong>
        {{ form_errors(form) }}
    </div>
    <br />
    {% endif %}
    
    {# form_theme form 'PMCharacterBundle:Form:fieldsClassBAB.html.twig' #}
    
    {{ form_rest(form) }}
    <center><input type="submit" class="btn btn-default" /></center>
</form>