{# src/PM/CharacterBundle/Resources/views/CharacterUsedPublic/listCharacterUsed.html.twig #}
 
{% extends "PMCharacterBundle:CharacterUsedPublic:layoutPublic.html.twig" %}

{% block title %}
    Liste - {{ parent() }}
{% endblock %}
    
{% block h1 %}
    Mes Personnages :
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste</li>
{% endblock %} 

{% block PM_body %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        {% include 'PMCharacterBundle:CharacterUsedPublic:listCharacterUsed_content.html.twig' %}
    </section>
</div>
{% endblock %}