{# src/PM/WelcomeBundle/Resources/views/SizePublic/layoutPublic.html.twig #}
 
{% extends "PMWelcomeBundle::layoutPublic.html.twig" %}

{% block title %}
    Tailles - {{ parent() }}
{% endblock %}

{% block follow %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('pm_help_public_homepage') }}">Donjons & Dragons</a></li>
    <li><a href="{{ path('pm_size_public_homepage') }}">Tailles</a></li>
{% endblock %}

{% block body %}
    {% block PM_body %}
    {% endblock %}
{% endblock %}
